:root {
    --hover-color: rgb(230, 230, 230);
    --section-padding: 15px;
}

/* MENU STYLES */
#menu {
    width: 100%;
    height: 8%;
    min-height: 65px;
    position: relative;
    flex-grow: 0;
    background-color: white;
    box-shadow: 0px 2px 12px 0px black;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
}

.menu_item {
    width: fit-content;
    height: 100%;
    padding: 10px 0px;
    box-sizing: border-box;
    margin: 0px var(--section-padding);
}

.menu_divider {
    width: 0px;
    height: 50%;
    box-shadow: 0px 0px 1px 0.3px grey;
}

.no_flex {
    flex: 0 0 fit-content;
}

/* Banner Styles */
#dropdown_banner {
    width: 100%;
    height: 40px;
    position: absolute;
    padding: 0px 5px;
    top: -40px;
    background-color: rgba(0, 0, 0, 0.548);
    z-index: 97;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.5s;
    box-sizing: border-box;
}
#banner_text {
    width: 100%;
    font-size: 15pt;
    color: white;
    overflow-x: auto;
    text-wrap: nowrap;
    text-align: center;
}
.banner_bold {
    color: rgb(0, 247, 255);
}

#banner_close {
    height: 100%;
    filter: invert(100%);
}
#banner_close:hover {
    background-color: var(--hover-color);
}

/* END Banner Styles */

#hamburger {
    aspect-ratio: 1/1;
    background-image: url("../assets/hamburger.svg");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
}
#hamburger:hover {
    background-color: var(--hover-color);
}

label {
    font-size: 16pt;
}

#page_title {
    display: flex;
    align-items: center;
}
#page_title > h1 {
    font-size: 25pt;
}

.menu_section {
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
}
.menu_section_title {
    height: 60%;
    display: inline-flex;
    align-items: flex-end;
    font-size: 1.5rem;
    text-align: center;
}
.menu_section_bottom {
    max-height: 40%;
    flex-grow: 1;
    display: inline-flex;
    justify-content: center;
    align-items: start;
}
#graph_features_section_bottom, #algorithms_section_bottom {
    width: 100%;
    height: 100%;
    background-image: url("../assets/down_arrow.svg");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.alg_btn_parent_disabled {
    background-color: var(--hover-color);
}
.alg_btn_disabled:hover {
    cursor: not-allowed;
}

/* Dropdown Menu */
.dropdown {
    height: 100%;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.dropbtn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropdown-content {
    min-width: 250px;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid black;
    border-top: none;
}

.dropdown-content:first-of-type {
    border-left: none;
}

.sub_dropdown-content {
    display: none;
    background-color: rgb(82, 82, 82);
    color: white;
    position: relative;
}

.sub_dropdown-content > .dropdown_item:hover {
    background-color: rgb(117, 117, 117);
}

.dropdown:hover .dropdown-content {display: block;}

.show {display: block;}

#graph_type_hamburger, #graph_features_hamburger, #algorithms_hamburger {
    display: none;
}

.menu_dropdown, .hamburger_sub_dropdown {
    min-width: fit-content;
    width: 100%;
    height: fit-content;
    position: absolute;
    border-bottom: 2px solid black;
    visibility: hidden;
    opacity: 0;
    z-index: 98;
}

#hamburger_dropdowns {
    display: flex;
    flex-direction: row;
}
.hamburger_sub_dropdown {
    top: 0%;
    left: 100%;
    background-color: rgb(252, 252, 252);
    max-width: 20px;
    overflow: hidden;
}

.dropdown_item {
    height: fit-content;
    padding: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    display: block;
}

.dropdown_item:hover {
    background-color: var(--hover-color);
}

.sub_dropdown_trigger {
    display: flex;
    flex-direction: row;
    position: relative;
    display: none;
}

.sub_dropdown_trigger_text {
    position: relative;
}
.sub_dropdown_trigger_arrow {
    height: 20px;
    background-size: contain;
}

.sub_dropdown_trigger:hover .hamburger_sub_dropdown {
    visibility: visible;
    opacity: 1;
}

.dropdown_label {
    display: inline-block;
}

/* Graph Manipulation Buttons */
#graph_buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}
.graph_btn {
    height: 90%;
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
.graph_btn:hover {
    background-color: var(--hover-color);
}
.graph_btn:disabled {
    background-color: var(--hover-color);
    cursor: not-allowed;
}

#create_node_btn {
    background-image: url("../assets/node.svg");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}
#create_edge_btn {
    background-image: url("../assets/edge.svg");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}
#delete_btn {
    background-image: url("../assets/delete.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Style when a button is clicked */
.active {
    /* outline: 2px solid rgb(0, 179, 0); */
    background-color: yellow !important;
}


/* Move graph type dropdown to hamburger */
@media screen and (max-width: 1100px) {
    #graph_type, #graph_type_divider {
        display: none;
    }
    #graph_type_hamburger {
        display: block;
    }
}

/* Move algorithms dropdown to hamburger */
@media screen and (max-width: 940px) {
    #algorithms, #algorithms_divider {
        display: none;
    }
    #algorithms_hamburger {
        display: block;
    }
}

/* Move graph features dropdown to hamburger */
@media screen and (max-width: 760px) {
    #graph_features, #graph_features_divider {
        display: none;
    }
    #graph_features_hamburger {
        display: block;
    }
}

/* Move menu title to hamburger */
@media screen and (max-width: 550px) {
    #page_title {
        display: none;
    }

    #graph_buttons {
        gap: 0;
        justify-content: space-evenly;
    }
}