:root {
    --node-size: 100px;
    --node-z-index: 3;
    --edge-thickness: 5px;
    --edge-hitbox-size: 40px;
    --edge-hitbox-display: none;
    --edge-color: rgb(34, 34, 34);
    --hover-color: rgb(230, 230, 230);
    --weight-label-opacity: 0;
    --arrow-width-factor: 5;
    --arrow-width: calc(var(--edge-thickness)*var(--arrow-width-factor));
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

#page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* PREVIEW SECTION STYLES */
#preview_section {
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    position: relative;
    background: radial-gradient(rgb(224, 224, 224) 5%, white 8%);
    background-size: 50px 50px;
}

/* ADJACENCY MATRIX AND LIST STYLES */
#adj_box {
    width: 400px;
    height: fit-content;
    max-height: 100%;
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 98;
}

#adj_list_box, #adj_matrix_box {
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.616);
    border-top: 1px solid black;
    border-right: 1px solid black;
}

#adj_list_box {
    display: none;
    /* display: flex; */
    flex-direction: column;
    padding: 10px 0px;
    gap: 10px;
}

#adj_matrix_box {
    display: none;
}

#adj_matrix {
    width: 100%;
    padding: 5px;
    aspect-ratio: 1/1;
    text-align: center;
    border-spacing: 0px;
    font-size: 20pt;
    box-sizing: border-box;
    table-layout: fixed;
}
#adj_matrix th, #adj_matrix td {
    overflow: hidden;
}
#adj_matrix th {
    color: black;
    text-align: center;
    white-space: nowrap;
}
#adj_matrix td {
    background-color: rgb(78, 78, 78);
    color: white;
    border: 1px solid black;
}

.adj_list_item {
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25pt;
}
.adj_list_node_name {
    padding: 0px 20px;
    font-weight: bold;
}
.adj_list_adj_nodes {
    flex-grow: 1;
    padding: 0px 20px;
    border-left: 1px solid black;
    overflow-x: auto;
    box-sizing: border-box;
    text-wrap: nowrap;
} 
/* Commas between list entries */
.comma:first-child:empty ~ .comma:not(:empty) {
    margin-left: 0;  
}
.comma:first-child:empty ~ .comma:not(:empty) ~ .comma:not(:empty) {
    margin-left: -.3em;  
}
.comma:empty {
    display: none;
}
.comma:not(:first-child):before {
    content: ", ";
}
.comma:empty + .comma:not(:empty):before {
    content : "";
}
.comma:not(:empty) ~ .comma:empty + .comma:not(:empty):before {
    content : ", ";
}

/* Node Styles */
.node {
    width: var(--node-size);
    aspect-ratio: 1/1;
    background-color: rgb(218, 218, 218);
    border: 2px solid var(--edge-color);
    border-radius: 50%;
    position: absolute;
    z-index: var(--node-z-index);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    font-family: sans-serif;
    text-wrap: wrap;
    text-align: center;
}
.node:hover {
    background-color: rgb(170, 168, 168);
    cursor: move;
}

/* Style applied to the start node of edge creation */
.create_edge_start {
    outline: 5px solid rgb(55, 175, 0);
}

/* Style applied to the end nodes of edge creation */
.create_edge_end {
    outline: 5px solid rgb(255, 187, 0);
}

/* Style applied to each node when delete mode is activated */
.delete_node {
    outline: 5px solid red;
}


/* Algorithm graph styles */
.visited {
    background-color: rgb(43, 139, 14);
}
.next_visit {
    background-color: goldenrod;
    /* background: repeating-linear-gradient(45deg, goldenrod, goldenrod 10px, white 10px, white 20px) !important;     */
}

.algorithmStartNode {
    outline: 8px solid lime;
    outline-offset: 0px;
}
.edge_unvisited {
    background-color: none !important;
    background: repeating-linear-gradient(90deg, grey, grey 20px, transparent 20px, transparent 40px) !important;    
}

/* Edge, Weight, and Arrow Styles */
.edge {
    position: absolute;
    height: var(--edge-thickness);
    z-index: 1;
    transform-origin: center;
}

.edge_mask {
    height: 100%;
    z-index: 2;
    position: relative;
    background-color: var(--edge-color);
    border-right: 1px solid var(--edge-color); /* To remove tiny, impure space between edge end and arrow start */
}

.edge_hitbox {
    width: 100%;
    height: var(--edge-hitbox-size);
    top: calc(var(--edge-thickness)/2 - var(--edge-hitbox-size)/2);
    position: absolute;
    z-index: 4;
    display: var(--edge-hitbox-display);
}
.edge_hitbox:hover {
    background-color: rgba(255, 0, 0, 0.329);
    cursor: pointer;
}

.weight_label {
    background-color: var(--edge-color);
    color: white;
    padding: 0px 5px;
    width: fit-content;
    height: fit-content;
    font-size: 20pt;
    position: absolute;
    z-index: 3;
    border-radius: 3px;
    opacity: var(--weight-label-opacity);
}  
.weight_label:hover {
    cursor: pointer;
}
.weight_label:focus {
    background-color: black;
}

.arrow {
    width: var(--arrow-width);
    aspect-ratio: 1/1;
    background-color: var(--edge-color);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    position: absolute;
    left: 100%;
    z-index: 2;
}

/* Prompt Section Styles */
#prompt_section {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.658);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 10;
}

#prompt_box {
    width: 500px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#prompt_message {
    width: 100%;
    height: auto;
    background-color: rgb(228, 228, 228);
    padding: 30px;
    box-sizing: border-box;
    font-size: 15pt; 
}

#prompt_button_box {
    width: 100%;
    height: 50%;
    background-color: rgb(194, 194, 194);
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.prompt_btn {
    width: 25%;
    padding: 20px;
    font-size: 15pt;
}
.prompt_btn:hover {
    cursor: pointer;
}

/* ALGORITHM ABOUT SECTION */
#algorithm_about_section {
    width: 400px;
    height: 100%;
    position: absolute;
    left: -401px;
    z-index: 98;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(238, 238, 238, 0.527);
    border-right: 1px solid black;
    transition: left 0.3s ease-in-out;
}

#algorithm_about_close_bar {
    height: 40px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}
#algorithm_about_close_bar img {
    height: 100%;
    border-radius: 25%;
}
#algorithm_about_close_bar img:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

#algorithm_name {
    display: block;
    color: black;
    text-align: center;
}

.horizontal_divider_outside {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.horizontal_divider {
    width: 50%;
    height: 0px;
    box-shadow: 0px 0px 1px 0.3px grey;
}

#algorithm_about_text {
    display: block;
    font-size: 14pt;
    padding: 0px 10px;
}

#pre_alg_btn_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: fit-content;
}
.pre_alg_btn {
    font-size: 14pt;
    padding: 5px;
}

#path_result {
    width: 100%;
    height: 50px;
    display: block;
    text-align: center;
    font-size: 16pt;
}

.path_unvisited {
    color: grey;
}
.path_visited {
    color: rgb(43, 139, 14);
}
.path_next_visit {
    color: goldenrod;
}

#step_buttons {
    display: block;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}
.step_btn {
    height: 40px;
    aspect-ratio: 2/1;
    font-size: 20pt;
    line-height: 30px;

    background-size: auto 80%;
    background-position: center;
    background-repeat: no-repeat;
}
#step_backward {
    background-image: url("/assets/left-arrow.svg");
}
#reset_algorithm {
    background-image: url("/assets/reset.svg");
}
#play_pause {
    background-image: url("/assets/play.svg");
}
#step_forward {
    background-image: url("/assets/right-arrow.svg");
}

#speed_slider_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    gap: 20px;
}
#algorithm_speed {
    width: 80%;
}
#speed_display {
    text-align: center;
    font-size: 12pt;
}